@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: 'Roboto';
}
a {
	text-decoration: none;
	font-family: inherit;
	color: inherit;
}
.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;

	height: 100vh;
}
.sidebar {
	grid-row: 1 / 3;
	display: grid;
	grid-auto-rows: max-content;
	gap: 50px;
	background: #233142;
	color: whitesmoke;
	font-size: 16px;
	font-weight: 500;
}
.sidebar .logo svg {
	height: 50px;
	width: 50px;
}
.btn-group-1 svg,
.btn-group-2 svg {
	height: 25px;
	width: 25px;
}
.sidebar svg path {
	fill: whitesmoke;
}

/* make anchors flex items */
.sidebar a {
	display: flex;
	align-items: center;
	gap: 15px;
}
.logo {
	gap: 10px;
	padding-top: 20px;
	padding-left: 15px;
	font-size: 20px;
}
.btn-group-1,
.btn-group-2 {
	display: grid;
	gap: 10px;
	padding-left: 22px;
}
.header {
	background-color: white;
	grid-column: 2 / 3;
}
.main-content {
	background: #e3e3e3;
}
