@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	font-family: 'Roboto';
	font-weight: bold;
}
a {
	text-decoration: none;
	font-family: inherit;
	color: inherit;
}
.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: max-content;
}
.sidebar {
	grid-row: 1 / 3;
	display: grid;
	grid-auto-rows: max-content;
	gap: 50px;
	background: #233142;
	color: whitesmoke;
	font-size: 16px;
	font-weight: 500;
}
.sidebar .logo svg {
	height: 50px;
	width: 50px;
}
.btn-group-1 svg,
.btn-group-2 svg,
.header svg {
	height: 25px;
	width: 25px;
}
.sidebar svg path {
	fill: whitesmoke;
}
.sidebar a {
	display: flex;
	align-items: center;
	gap: 15px;
}
.logo {
	gap: 10px;
	padding-top: 20px;
	padding-left: 15px;
	font-size: 20px;
}
.btn-group-1,
.btn-group-2 {
	display: grid;
	gap: 10px;
	padding-left: 22px;
}
.header {
	background-color: white;
	grid-column: 2 / 3;
	display: grid;
	grid-template-rows: 1fr 2fr;
	padding: 25px;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.header-row-1 {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}
.search-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}
.search-bar {
	display: flex;
	align-items: center;
	height: 35px;
	width: 80%;
	padding-left: 25px;
	border-radius: 50px;
	background: #e3e3e3;
}
.search-bar input {
	width: 80%;
	background-color: transparent;
	border: none;
}
.search-bar input:focus {
	outline: none;
}
.right-nav-content {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: end;
	padding-right: 20px;
	font-weight: bold;
}
.header-row-2 {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	align-items: center;
	font-weight: bold;
}
.greeting-wrapper {
	display: flex;

	gap: 20px;
}
.account-img img,
.trending-card-img img {
	height: 35px;
	width: 35px;
	border-radius: 100%;
}
.greeting-wrapper img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
.greeting-wrapper .account-name-lg {
	font-size: 23px;
	font-weight: bolder;
}
.header-btn-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.header-btn-wrapper button {
	height: 32px;
	border: none;
	border-radius: 50px;
	background-color: #233142;
	font: inherit;
	font-size: 15px;
	color: whitesmoke;
}

.main-content {
	display: grid;
	grid-template-columns: 3.5fr 1fr;
	grid-template-rows: max-content;
	gap: 25px;
	padding: 25px;
	background: #e3e3e3;
}
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
}
.projects > * {
	display: grid;
	grid-template-columns: auto 98%;
	height: 200px;
	overflow: hidden;
}
.decorative-strip {
	background: #f95959;
}
.content {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 7px;
}
.content .project-body {
	font-weight: normal;
}
.project-action-bar {
	display: flex;
	justify-content: end;
	gap: 20px;
}
.project-action-bar svg {
	height: 20px;
	width: 20px;
}
.project-action-bar svg path {
	fill: #565656;
}
.your-projects,
.announcements,
.trending {
	margin-bottom: 12px;
	font-size: 18px;
}
.announcements-content {
	display: grid;
}

.announcements-content,
.projects > *,
.trending-content {
	border-radius: 8px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	color: #636c76;
}
.card-title {
	padding-bottom: 5px;
	font-size: 12px;
	color: black;
}
.card-body,
.trending-card-content {
	font-weight: normal;
	font-size: 11px;
}
.content,
.announcements-content {
	padding: 25px;
}
hr {
	width: 100%;
}
.title {
	color: black;
}
.trending-section {
	padding-top: 25px;
	margin-bottom: 12px;
}
.trending-content {
	display: grid;
	gap: 15px;
	padding: 25px;
}
.trending-card {
	display: flex;
	align-items: center;
	gap: 12px;
}
.trending-card-title {
	color: black;
	padding-bottom: 3px;
}
